<!DOCTYPE html>
<html>
<head>
	<title>The Daily Planet: Article Search</title>
</head>
<body>
	<h1><%= title %></h1>
	<h2><%= author %></h2>
	<h1><%= summary %></h1>
	<h1><%= article %></h1>
</body>
</html>