<!DOCTYPE html>
<html>
<head>
	<title>The Daily Planet: Post your article</title>
</head>
<body>

	<form action='/articles' method='post'>
		<input type="text" name="author" placeholder="Author's name">
		<input type="text" name="title" placeholder="Article Title">
		<input type="text" name="summary" placeholder="One sentence summary">
		<input type="text" name="article" placeholder="Article">
		<input type="submit" value="Submit Article">
	</form>
</body>
</html>